*.py[cod]

# private data
secret_key

# C extensions
*.so

# Packages
*.egg
*.eginfo
dist
build
eggs
parts
bin
var
sdist
develoeggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pilog.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
